$background-color_1: #dcdcdc;
$background-color_2: #FFFFFF;
$background-color_3: #377EF9;

.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 27px;
	background-color: $background-color_1;
	border-radius: 16px;
	cursor: all-scroll;
	&::after {
		content: '';
		position: absolute;
		width: 21px;
		height: 21px;
		border-radius: 50%;
		background-color: $background-color_2;
		top: 3px;
		left: 4px;
		transition: all 0.3s;
	}
}

.check-box {
	&:checked {
		+ {
			.switch {
				&::after {
					left: 26px;
				}
				background-color: $background-color_3;
			}
		}
	}
	display: none;
}